
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fafafa;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 18px;
}

h1,
button,
hr,
body > p:first-of-type {
    grid-column: 1 / -1;
}


h1{
    font-size: 40px;
    margin-bottom: 8px;
}

button {
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    background: #0095f6;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-right: 8px;
    width: 200px;
    justify-self: center;

}

button:hover {
    opacity: 0.85;
}

hr {
    margin: 15px 0;
}



img {
    width: 90%;
    aspect-ratio: 1 / 1;  
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

img + p {
    display: none;
    
} 

img:hover {
    transform: scale(1.05);
}

h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
}
